ansimarkup==1.4.0
appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.6.3
better-exceptions-fork==0.2.1.post6
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
decorator==4.3.0
idna==2.8
ipdb==0.11
ipython-genutils==0.2.0
ipython==7.2.0
jedi==0.13.2
loguru==0.2.4
parso==0.3.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
ptyprocess==0.6.0
Pygments==2.3.1
redpie==0.0.1
requests==2.21.0
selenium==3.141.0
six==1.12.0
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
