appnope==0.1.0
backcall==0.1.0
certifi==2018.10.15
chardet==3.0.4
colorama==0.4.0
decorator==4.3.0
docopt==0.6.2
docutils==0.14
flit==1.2.1
idna==2.7
ipdb==0.11
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
parso==0.3.1
pbr==5.0.0
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.6
ptyprocess==0.6.0
Pygments==2.2.0
pyhostman==0.1.1
pyperclip==1.7.0
python-hosts==0.4.5
pytoml==0.1.20
requests==2.20.0
simplegeneric==0.8.1
six==1.11.0
stevedore==1.29.0
traitlets==4.3.2
urllib3==1.24
virtualenv==16.0.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
win-inet-pton==1.0.1
